@{
    ViewData["title"] = "Exam";
}

<div class="text-center">
    <h1 class="display-4">Exam results</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>