@{
    ViewData["title"] = "Exam";
}

<form class="d-flex flex-column align-items-center">
  <div class="form-group w-25 mb-3">
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter the code">
  </div>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>