@model ExamStudent
@{
  ViewData["title"] = "Exam";
}

<section class="contact-section section_padding">
  <div class="container mt-100">
    <div class="row">
      <div class="col-sm-18 m-10">
        <h2>@Model.StudentName</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-18">
         <h4>@Model.ExamName imtahanindan giymet </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-18">
        <h3>@Model.Mark</h3>
      </div>
    </div>
  </div>
</section>