@{
    Layout = "_Layout";
}

@model ExamStudent

<style>
    #denided{
        color: red;
    }
    #succes{
        color:green;
    }
</style>

<div asp-validation-summary="All"></div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                   <button  onclick="RazorFunction()" class="btn btn-success mr-2 mt mb-2">Generate Code</button>
            <form class="forms-sample" method="post" asp-action="AddExam"  enctype="multipart/form-data" asp-controller="Exam">
                <div class="form-group">
                    <label for="stuname">Tələbənin Adı</label>
                    <input type="text" id="stuname" asp-for="StudentName" class="form-control" placeholder="Tələbənin Adı"> <span asp-validation-for="StudentName"></span>
                </div>
                <div class="form-group">
                    <label for="subjectname">Fənnin Adı</label>
                    <input type="text" id="subjectname" asp-for="ExamName" class="form-control" placeholder="Fənnin Adı"  /> <span asp-validation-for="ExamName"></span>
                </div>
                 <div class="form-group">
                    <label for="code">Tələbənin Kodu</label>
                    <input type="text" asp-for="Code" class="form-control" id="code" placeholder="Tələbənin Kodu" style="background-color: #333;"  />
                    <span asp-validation-for="Code"></span>
                </div>
                <div class="form-group">
                    <label for="mark">Tələbənin Qiyməti</label>
                    <input type="number" id="mark" asp-for="Mark" class="form-control" min="0" max="100" style="width: 60px;color:#fff"/>
                    <span asp-validation-for="Mark"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark" ><a asp-controller="Admin" asp-action="Home" >Cancel</a></button>
            </form>
            <span id="denided">@TempData["validation"]</span>
            <span id="succes">@TempData["success"]</span>  
        </div>
    </div>
</div>

 <script>
    function RazorFunction() 
    {
        let arr = []
        let value = document.getElementById("code")
        let uuid = crypto.randomUUID()

        let split = uuid.split('-')

        arr.push(split[0])

        code.value = split[0]
    }

 </script>