@{
    Layout = "_Layout";
}
<style>
    #denided{
        color: red;
    }
    #succes{
        color:green;
    }
</style>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" asp-controller="Admin" asp-action="ExchangePassword">
                  <div class="form-group">
                    <label for="oldpass">Köhnə şifrə</label>
                    <input type="password" class="form-control" id="oldpass" placeholder="Köhnə şifrə" name="oldpass" />
                </div>
                  <div class="form-group">
                    <label for="newpass">Yeni şifrə</label>
                    <input type="password" class="form-control" id="newpass" placeholder="Password" name="newpass"/>
                </div>
                  <div class="form-group">
                    <label for="already">Şifrəni tekrarlayın</label>
                    <input type="password" class="form-control" id="already" placeholder="Password" name="retry"/>
                </div>
                <button type="submit" class="btn btn-primary mr-2 mt-3">Şifrəni dəyiş</button>
                <button class="btn btn-dark" asp-controller="Admin" asp-action="Index">Cancel</button>
            </form>
                <span id="denided">@TempData["pass"]</span>
        </div>
    </div>
</div>