@{
    Layout = "_Layout";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="ExchangePassword">
                  <div class="form-group">
                    <label for="password">Köhnə şifrə</label>
                    <input type="password" class="form-control" id="password" placeholder="Köhnə şifrə" />
                </div>
                  <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
                  <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" placeholder="Password"/>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
                <button type="submit" class="btn btn-primary mr-2 mt-3">Şifrəni dəyiş</button>
                <br />
                <span id="denided">@TempData["validation"]</span>
                <span id="succes">@TempData["success"]</span>   
        </div>
    </div>
</div>