@{
    Layout = "_Layout";
}
@model Admin
<style>
    #denided{
        color: red;
    }
    #succes{
        color:green;
    }
</style>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="ExhangeProfile">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" asp-for="Username" >
                </div>
                <div class="form-group">
                    <label for="email">Mail Adress</label>
                    <input type="email" class="form-control" id="email" placeholder="Açıqlama" asp-for="Email"/>
                </div>
                <div class="form-group">
                    <label>Fənnin Şəkli</label>
                    <div class="input-group col-xs-6" style="width:200px">
                        <input type="text" class="form-control file-upload-info" placeholder="Upload Image">
                        <span class="btn btn-danger btn-file">
                            Browse <input type="file" name="userfile" />
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" placeholder="Password" asp-for="Password"/>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
            <button type="submit" class="btn btn-primary mr-2 mt-3">Şifrəni dəyiş</button>
            <span id="denided">@TempData["validation"]</span>
            <span id="succes">@TempData["success"]</span>    
        </div>
    </div>
</div>