@{
    ViewData["title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide h-50" data-bs-ride="carousel">
  <div class="carousel-inner h-50">
    <div class="carousel-item active h-50">
      <img src="1.jpg" height="300px" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item h-50">
      <img src="2.jpg" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item h-50">
      <img src="3.jpg" class="d-block w-100 h-50" alt="...">
    </div>
  </div>
</div>